html{
    padding: 0;
    margin: 0;
}

body
{
    background-color: black;
    padding: 0;
    margin: 0;
}

.contactUs__container-nav
{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}

.contactUs__nav-logoContainer
{
    position: relative;
    top: 0px;
    left: 120px;
}

.contactUs__nav-logoContainer-name
{
    position: absolute;
    color: white;
    font-weight: 900;
    top: 15px;
    left: 65px;
}


.contactUs__nav-listContainer
{
    position: absolute;
    width: 500px;
    right: 120px;
}

.contactUs__nav-listContainer-list
{
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}

.contactUs__nav-listContainer-item
{
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.contactUs__nav-listContainer-itemholder :hover
{
    color: #9f7de8; 
    transition: 0.3s;
}

.contactUs__container-body-tittleContainer
{
    height: 170px;
    width: 100%;
    background-color: black;
    position: relative; 
    display: flex;
}

.contactUs__container-body-tittle
{
    position: absolute;
    color: white;
    font-size: 70px;
    font-weight: 900;
    top:-30px;
    left: 90px;
}

.contactUs__container-body-infor
{
    background-color: black;
    width: 750px;
}

.contactUs__container-body-infor-subtittle, 
.contactUs__container-body-infor-inforContainer-email,
.contactUs__container-body-infor-inforContainer-phone,
.contactUs__container-body-infor-inforContainer-address,
.contactUs__container-body-infor-map
{
    position: relative;
    color: white;
    left: 90px;
    font-weight: 700;

}

.contactUs__container-body-infor-subtittle,
.contactUs__container-body-infor-inforContainer-address
{
    padding-bottom: 40px;
}

.contactUs__container-body
{
    display: flex;
    padding-bottom: 50px; 
}

.contactUs__container-body-form-name,
.contactUs__container-body-form-info
{
    display: flex;
}
.contactUs__container-body-form-message
{
    display: flex;
    flex-direction: column;
}
.contactUs__container-body-form-nameholder,
.contactUs__container-body-form-infoholder
{
    display: flex;
    flex-direction: column;
    left: 5px;
}

.contactUs__container-body-form-label
{
    color: white;
    font-size: 17px;
    position: relative;
    left: 20px;
    margin: 10px 0;

}

#contactUs__container-body-form-name-first,
#contactUs__container-body-form-info-email
{
    background-color: black;
    border-radius: 20px 0 0 0;
    border-color: #8858ed;
    height: 45px;
    width: 200px;
    color: white;
}



#contactUs__container-body-form-name-last,
#contactUs__container-body-form-info-phone
{
    background-color: black;
    border-radius: 0 20px 0 0;
    border-color: #8858ed;
    height: 45px;
    width: 200px;
    color: white;
}

#contactUs__container-body-form-info-email,
#contactUs__container-body-form-info-phone
{
    border-radius: 0 0 0 0;
}


#contactUs__container-body-form-info-email:hover,
#contactUs__container-body-form-info-phone:hover,
#contactUs__container-body-form-name-last:hover,
#contactUs__container-body-form-info-phone:hover
{
    background-color: #8858ed;
    cursor: text;
    border: 2px solid white;
}

.contactUs__container-body-form
{
    position: relative;
    left: 180px;
    top: 40px;
}



#contactUs__container-body-form-mesage-input
{
    background-color: black;
    border-color: #8858ed;
    height: 200px;
    width: 410px;
    color: white;
}

#contactUs__container-body-form-mesage-input:hover
{
    background-color: #8858ed;
    cursor: text;
    border: 2px solid white;
}

.contactUs__container-body-form-mesage-submit
{
    background-color: #8858ed;
    border-radius: 0 0 20px 20px;
    border-color: transparent;
    height: 50px;
    width: 417px;
    color: white;
    font-weight: 600;
}

.contactUs__container-body-form-mesage-submit:hover
{
    border-color: white;
    cursor: pointer;
}


/* ----------------------------------- CSS CỦA PHẦN MÀU TÍM ---------------------------------------------*/

/* questionContainer Block */
.contactUs__container-questionContainer
{
    width: 100%;
    height: 800px;
    background-image: url(../img/istockphoto-1423098321-612x612.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Question Tittle */
.contactUs__container-questionContainer-tittleHolder
{
    position: absolute;
    height: 50px;
    width: 700px;
    top: -25px;
    left: 435px
}

.contactUs__container-questionContainer-tittle
{
    color: white;
    font-size: 55px;
    font-weight: 900;
}

/* Question Search Box */

.contactUs__container-questionContainer-searchBox
{
    
    background-color: transparent;
    width: 30px;
    height: 30px;


    position: absolute;
    top: 130px;
    left: 1100px;
    overflow: hidden;
    transition: all 1.5s ease;
}

.contactUs__container-questionContainer-searchBox.open
{
    width: 900px;
    left: 300px;
}

.contactUs__container-questionContainer-searchBox-btn
{
    position: absolute;
    right:0px;
    height: 30px;
    background-color: transparent;
    border: 1px solid white;
    outline-color: transparent;
}



.contactUs__container-questionContainer-searchBox-input
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    padding-left: 30px;

}