*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Albert Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    /* display: flex; */
    justify-content:center;
    align-items:center;
    /* flex-wrap: wrap; */
    /* background: #222f3e; */
    background: #000;
    color: var(--light);
    height: 100vh;
    width: 100%;
    padding: 4rem;
    margin: 0;
    padding: 0;

}

/*header*/

.header-logo {
  width: 48px;
  height: 48px;
  vertical-align: middle; 
  margin-right: 10px; 
}

.header-content h4 {
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 20px;
  display: inline-block; 
}

nav{
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 110px;
  /* background: #3E8DA8; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
  background: rgba(0, 0, 0, 0.95) ;
}
nav .navbar{
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
.navbar .logo a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 110px;
  height: 100%;
}

nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

nav .navbar .links li a:hover{
  color: #9980FA;
  transition: all .40s ease;
}

.links li:hover .products-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 110px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 100px;
  left: 0;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.8) ;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .Products-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu {
  line-height: 40px;
}
.navbar .links li .sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu {
  display: block;
}

.navbar .nav-links .header-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
}
@media (max-width:800px){
  nav{
          /* position: relative; */
  }
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: black;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .header-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-logo .logo-name{
    font-size: 25px;
    color: #fff;
  }
    .header-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu {
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .products-arrow {
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu {
    display: none;
  }
  .navbar .links li .sub-menu span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu {
    display: none;
  }
  nav .navbar .links li:hover .Products-sub-menu .sub-menu{
    display: none;
  }
  .navbar .nav-links.show1 .links .Products-sub-menu {
      display: block;
  }
  .navbar .nav-links.show1 .links .products-arrow {
      transform: rotate(180deg);
}
}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
}

/* MAIN  */

.on-sale {
  background: black;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px;
  overflow: hidden;
  max-width: 1800px;
}

.product-container {
  /* background: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px;
  /* overflow: hidden; */
  max-width: 1800px;
  flex-wrap: wrap;
}

/* .product-container-2 {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px;
  overflow: hidden;
  max-width: 1800px;
} */

.title {
  margin-bottom: 10px;
  font-size: 4rem;
  color: white;
  padding-left: 50px;
  width: 100%;
}

@media screen and (max-width: 768px) {
.title {
  font-size: 3rem;
  }
}

.container {
  display: flex;
  padding-top: 90px;
  /* padding-left: 70px; */
  /* padding-right: 70px; */
  justify-content: space-between;
}

.view-all {
  background-color: #ececec;
  font-size: 1rem;
  color: #8854d0;
  padding: 12px 30px;
  top: 600px;
  font-weight: 900;
  /* bottom: 10px; */
  margin-bottom: 250px;
  margin-right: 50px;
  border-radius: 45px;
  white-space: nowrap;
}

.view-all:hover {
  color: white;
  background: #8854d0;
  transition: all .4s ease;
} 

.product {
  overflow: hidden;
  background: black;
  color: white;
  text-align: center;
  /* padding: 4rem; */
  margin: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px; /* Adjust spacing between cards */
}

@media (max-width: 768px) {
  .product {
    margin: 0;
  }
}

.product a:link, .product a:visited {
  color: #ececec;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 600;
  background-color: #8854d0;
  padding: 0.65rem 6.5rem;
  border-radius: 1rem;
  margin-top: 1rem;
  transition: all 0.2s ease;
}
.title, .view-all {
  display: inline-block;
  justify-content: space-between;
}

.img-wrapper {
  height: 300px; /* Set the image container height to 100% of the img-container */
  width: 300px; /* Set the image container width to 100% of the img-container */
  display: block;
  overflow: hidden;
  margin: 0 auto;
}

img {
  height: 100%; /* Set the image height to 100% of the img-wrapper */
  width: 100%;
  transition: transform 0.2s ease-in-out; 
}

.product:hover img {
  transform: scale(1.35); /* Zoom in effect on hover */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .product {
    width: calc(50% - 20px); /* Adjust as needed */
  }
}

@media (max-width: 480px) {
  .product {
    width: 100%;
  }
}


/* footer  */
footer {
    padding-bottom: 0;
      padding: 80px 13% 70px;
      flex-wrap: wrap;
      justify-content: space-between;
      /* display: flex; */
  }
  
  
  .footer-logo {
    width: 48px;
    height: 48px;
    vertical-align: middle; 
    margin-right: 10px; 
  }
  
  .footer-content h4 {
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 20px;
    display: inline-block; 
  }
  
  
  
  .icon {
    display: flex;
    justify-content: space-between;
  }
  
    .footer-content h4 {
      color: #fff;
      margin-bottom: 1.5rem;
      font-size: 20px;
      display: inline-block;
    }
    
  
  .footer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, auto));
      gap: 3.5rem;
      background: black;
      /* position: absolute; */
      left: 0;
      right: 0;
      /* bottom: 0; */
  }
  
  .footer-content h4{
      color: #fff;
      margin-bottom: 1.5rem;
      font-size: 20px;
  }
  
  .footer-content li {
      margin-bottom: 16px;
  }
  
  .footer-content li a {
      display: block;
      color: #d6d6d6;
      font-size: 15px;
      font-weight: 400;
      transition: all .40s ease;
  }
  
  .footer-content li a:hover {
    transform: translateY(-3px) translateX(-5px);
  }
  
  .footer-content a{
      color: #d6d6d6;
      font-size: 16px;
      line-height: 30px;
      margin: 20px 0;
  }
  
  .icons a{
      display: inline-block;
      font-size: 22px;
      color: #d6d6d6;
      margin-right: 17px;
      transition: all .40s ease;
  }
  
  .icon a:hover {
      color: #fff;
      transform: translateY(-5px);
  }
    
  
  @media (max-width: 1690px) {
      footer{
          padding: 50px 5% 40px;
      }
  }
  
  @media(max-width: 1120px) {
      .footer {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, auto));
          gap: 2rem;
      }
  }
  
  @media(max-width: 700px) {
      .footer {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(150px, auto));
          gap: 2.5rem;
      }
  }  
  
  /* BOTTOM FOOTER  */
  .bottom-footer {
    /* padding: 80px 13% 70px; */
    flex-wrap: wrap;
    justify-content: space-between;
  
    background: black;
    color: #fff;
    top: auto;
    /* position: absolute; */
    display: block;
    left: 0;
    right: 0;
    /* bottom: 0; */
  }
  
  .payment-icons,
  .media-icons {
    display: flex;
    align-items: center;
  }
  
  .payment-icons i,
  .media-icons i {
    margin-right: 35px;
  }
  
  .bottom-footer {
      border-top: 1px solid #666666; 
  }

  @media (max-width: 768px) {
    .bottom-footer {
      /* flex-direction: column; */
      text-align: center;
    }
    
    .icon {
      margin-bottom: 15px;
      display: block;
    }
  
  .payment-icons,
  .media-icons {
    display: block;
    align-items: center;
  }
  }

  @media (max-width: 920px) {
    .bottom-footer {
      /* flex-direction: column; */
      text-align: center;
    }
    
    .icon {
      margin-bottom: 15px;
      display: block;
    }
  
  .payment-icons,
  .media-icons {
    display: block;
    align-items: center;
  }
  }